.table{
display: table;
clear: both;
content: "";
}
.square {
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 15px;
}